@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Karla, sans-serif;
    font-weight: 400;
    color: #192435;
}

/* logo styling */

h1 {
    font-family: Merriweather, sans-serif;
    font-size: 250%;
    color: #6861F2;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    float: left;
}

nav {
    float: right;
}
    
ul {
    list-style: none;
}

