@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Karla, sans-serif;
    font-weight: 400;
    color: #192435;
}

/* header styling icluding logo and nav bar */

#logo, #menu {
    font-family: Merriweather, sans-serif;
    color: #6861F2;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 60px;
}

#logo {
    font-size: 240%;
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
    font-weight: lighter;
}

#menu {
    font-size: 150%;
    text-transform: capitalize;
    word-spacing: 5px;  
}

#menu li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #6861F2;
    text-transform: uppercase;
}
#menu a:hover {
    color: rgb(104,97,242, 0.8)
}

.active {
    border-bottom: 2px solid #192435;
}
  
/* membership options inspiration and guidelines taken from love running 
    meetup times foreground module */

#membership {
    background-image: url(/assets/Images/membership_image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#membership div {
    background-color: rgba(0, 0, 0, .6);
    width: 33.3%;
    height: 250px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.8;
}

#membership h3 {
    color: #fafafa;
    letter-spacing: 2px;
    font-weight: lighter;
}

#membership h2 {
    color: #d7f9d3;
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 30px;
    text-transform: uppercase;
}
/* timetable styling */

table {
    border: #192435 3px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

th {
    background-color: #c4c2ff;
    height: 35px;
    font-weight: bold;
}

td {
    text-align: center;
    font-weight: bold;
    color: #192435;
}

tr {
    height: 35px;
}

tr:nth-child(even) {
    background-color: #d7f9d3;
}

caption {
    color: #192435;
    font-size: 30px;
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

/* free trial sign up form. Most of the code is taken from the love running sign up form challenge 2 */

.form-section {
    clear: left;
    background: url(/assets/Images/free-trial_background.jpg);
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: #192435;
    max-width: 400px;
    position: absolute;
    left: 0.5%;
    padding: 30px;
}

.signup-form h2 {
    color: #c4c2ff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #d7f9d3;
}

select {
    width: 30%;
    padding: 4px 6px;
    border: none;
    border-radius: 2px;
    background-color: #c4c2ff;
  }

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: #c4c2ff;
    color: #192435;
    display: block;
}

.signup-button:hover {
    background-color: #d7f9d3;
    color: #192435;
}

/* footer */

footer {
    
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #192435;
    color: #d7f9d3;
    text-align: center;
    height: 80px;
}

footer > p {
    font-size: 120%;
    font-weight: lighter;
    float: left;
    padding: 30px 0 80px 50px;
}

footer > a {
    font-size: 200%;
    float: right;
    padding: 30px 50px 80px 0;
    color: #d7f9d3;
}

.contact-us > li {
    display: inline;
    font-size: 120%;
}

.contact-us i {
    font-size: 60%;
}

.contact-us {
    padding: 30px 0 80px 0;
}