@import url('https://fonts.googleapis.com/css2?family=Karla&family=Merriweather&display=swap');

/* browser reset*/
* {
    margin: 0;
    padding: 0;
    border: none;
}

/* main properties for body*/
body {
    font-family: Karla, sans-serif;
    font-weight: 400;
    color: #192435;
}

/* header styling icluding logo and nav bar */
#logo,
#menu {
    font-family: Merriweather, sans-serif;
    color: #6861F2;
    text-decoration: none;
    letter-spacing: 2px;
    line-height: 60px;
}

#logo {
    font-size: 220%;
    text-transform: uppercase;
    float: left;
    margin-left: 20px;
    font-weight: lighter;
}

#menu {
    font-size: 120%;
    text-transform: capitalize;
    word-spacing: 5px;
}

#menu li {
    float: right;
    margin-right: 20px;
    list-style-type: none;
}

#menu a {
    text-decoration: none;
    color: #6861F2;
    text-transform: uppercase;
}

#menu a:hover {
    color: rgb(104, 97, 242, 0.8)
}

.active {
    border-bottom: 2px solid #192435;
}

/* hero image */
#hero-image {
    width: 100%;
    height: auto;
}

/* introduction text */
#intro-text div {
    background-color: #d7f9d3;
    color: #192435;
    width: 25%;
    height: 400px;
    float: left;
    padding: 5px;
    text-align: center;
    border: 2px solid white;
    box-sizing: border-box;
}

#intro-text p {
    font-size: 120%;
    line-height: 1.5;
}

#intro-text h2 {
    text-decoration-line: underline;
    text-decoration-color: #192435;
    line-height: 1.8;
}

/* membership options inspiration and guidelines taken from love running 
    meetup times foreground module */
#membership {
    background-image: url('../images/membership_image.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    overflow: hidden;
}

#membership div {
    background-color: rgba(0, 0, 0, .6);
    width: 33.3%;
    height: 250px;
    float: left;
    border: 2px solid white;
    box-sizing: border-box;
    text-align: center;
    line-height: 1.8;
}

#membership h3 {
    color: #fafafa;
    letter-spacing: 2px;
    font-weight: lighter;
}

#membership h2 {
    color: #d7f9d3;
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    font-weight: lighter;
    font-size: 30px;
    text-transform: uppercase;
}

/* class times styling */
table {
    border: #192435 3px solid;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

th {
    background-color: #c4c2ff;
    height: 36px;
    font-weight: bold;
}

td {
    text-align: center;
    font-weight: bold;
    color: #192435;
}

tr {
    height: 35px;
}

tr:nth-child(even) {
    background-color: #d7f9d3;
}

caption {
    color: #192435;
    font-size: 188%;
    font-family: Merriweather, sans-serif;
    letter-spacing: 2px;
    font-weight: bold;
}

/* free trial sign up form. Most of the stylying is taken from the love running sign up form challenge 2 */
.form-section {
    clear: left;
    background: url('../images/free-trial_background.jpg');
    background-color: #c4c2ff;
    background-size: cover;
    background-position: center;
    height: 900px;
}

.signup-form {
    margin: 150px 10% 0 0;
    color: #fff;
    background-color: #192435;
    max-width: 400px;
    position: absolute;
    left: 0.5%;
    padding: 30px;
}

.signup-form h2 {
    color: #c4c2ff;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #fafafa;
    border-radius: 2px;
    padding-right: 10px;
}

.text-input:hover {
    border-color: #c4c2ff;
}

select {
    width: 30%;
    padding: 4px 6px;
    border: none;
    border-radius: 2px;
    background-color: #c4c2ff;
    margin: 5px 0 10px 0;
}

.signup-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    font-size: 125%;
    font-weight: bold;
    background-color: #c4c2ff;
    color: #192435;
    display: block;
}

.signup-button:hover {
    background-color: #d7f9d3;
    color: #192435;
}

/* footer inspiration and code taken from future coders website to make footer responsive*/
footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #192435;
    text-align: center;
}

.social {
    text-align: center;
    padding-bottom: 25px;
}

.social a {
    font-size: 40px;
    display: inline-block;
    text-align: center;
    margin: 0 20px;
    line-height: 60px;
}

footer ul {
    margin: 0 5px;
    padding: 0;
    list-style: none;
    text-align: center;
    font-size: 18px;
}

footer ul i {
    color: #d7f9d3;
}

footer ul li {
    display: inline-block;
    padding: 0 15px;
    color: #d7f9d3;
    margin-bottom: 5px;
}

/* Media queries */
/* for screens size from 1155px wide and down */
@media screen and (max-width: 1155px) {
    #menu {
        clear: left;
        float: left;
        margin-left: 20px;
        margin-bottom: 20px;
        line-height: 50px;
        font-size: 100%;
    }

    #intro-text div {
        width: 100%;
        height: 50%;
    }

    #membership div {
        width: 100%;
        height: 50%;
    }
    /* responsive table code and inspiratoion taken from Ryan Web Tech video*/
    table {
        margin-top: 0;
        width: 100%;
    }

    caption {
        font-size: 100%;
    }

    thead {
        display: none;
    }

    td {
        display: block;
    }

    td:first-child {
        background-color: #6861F2;
        color: #fff;
        text-align: center;
    }

    td:nth-child(2)::before {
        content: "06:00";
    }

    td:nth-child(3)::before {
        content: "07:00";
    }

    td:nth-child(4)::before {
        content: "09:00";
    }

    td:nth-child(5)::before {
        content: "17:00";
    }

    td:nth-child(6)::before {
        content: "18:00";
    }

    td:nth-child(7)::before {
        content: "19:00";
    }

    td {
        text-align: right;
    }

    td::before {
        float: left;
        margin-right: 30px;
        font-weight: bold;
    }

    footer {
        position: static;
    }
}

/* for screens size from 399px wide and down */
@media screen and (max-width: 399px) {
    #logo {
        font-size: 125%;
        padding: 0 50px;
        font-weight: bold;
    }

    #menu {
        padding: 0 25px;
        line-height: 50px;
        font-size: 70%;
    }

    .active {
        border-bottom: .5px solid #192435;
    }
}

/* for screens size from 820px high and down */
@media screen and (max-height: 820px) {

    table {
        margin-top: 0;
        margin-bottom: 20px;
    }

    footer {
        position: static;
    }
}

/* for samsung galaxy S8+*/
@media screen and (device-width: 360px) 
and (device-height: 740px) {
    
    #logo {
        text-align: center;
        font-size: 100%;
    }

    #menu {
        font-size: 60%;
        text-align: center;
    }

}
